#quoteBox { 
    padding-top: 2rem;

}
.container {
    display: flex;
    justify-content: center;
  }
.card {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    align-self: center;
  }
  
  .card2 {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    align-self: center;
  }